body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 'nav nav nav nav nav nav'
                        'header header header header header header'
                        'one one one one one one'
                        'two two two two two two'
                        'three three  three  three three three'
                        'footer footer footer footer footer footer';
    grid-template-columns: 16.4vw 16.4vw 16.4vw 16.5vw 16.5vw 16.5vw;
    grid-template-rows: 1.5vh 85vh 45vh 55vh 70vh 22vh;
}

nav{
    grid-area: nav;
    background-color: #2ecb70;
 }

header{
    grid-area: header;
    background-image: url("img/banner.png");
}

/* SECTION ICONES */

section.one{
    grid-area: one;
    display: flex;
    align-items: center;
    text-align: center;
}

.one img{
    background-color: #2ecb70;
    border: 20px solid #2ecb70;
    background-color: #2ecb70;
    border-radius: 50%;
}

/* SECTION VIDEO */

section.two{
    grid-area: two;
    background-color: #e3e3e3;
    display: flex;
    align-items: center;
    padding: 100px;
}

.two input:nth-child(1){
    height: 40px;
    width: 20vw;
    border: none;
    border-radius: 15px;
}
.two input:nth-child(2){
    height: 40px;
    width: 8vw;
    background-color: #2ecb70;
    border: none;
    border-radius: 0px 15px 15px 0px;
}


/* SECTION PERFIL */
section.three{
    grid-area: three;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.three .icons img{
    background-color: #e3e3e3;
    height: 35px;
    border: 2px solid #e3e3e3;
    border-radius: 20px;
}


   
}

footer{
    grid-area: footer;
    background-color: black;
}
