body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 'nav nav nav nav nav nav'
                        'header header header header header header'
                        'one one one one one one'
                        'two two two two two two'
                        'three three  three  three three three'
                        'footer footer footer footer footer footer';
    grid-template-columns: 16.4vw 16.4vw 16.4vw 16.5vw 16.5vw 16.5vw;
    grid-template-rows: 1.5vh 85vh 45vh 55vh 70vh 22vh;
}

nav{
    grid-area: nav;
    background-color: #2ecb70;
 }

header{
    grid-area: header;
    background-image: url("img/banner.png");
}
section.one{
    grid-area: one;
    display: flex;
    align-items: center;
    text-align: center;
}

.one img{
    background-color: #2ecb70;
    border: 10px solid #2ecb70;
    border-radius: 50%;
}

section.two{
    grid-area: two;
    background-color: #e3e3e3;
    display: flex;
    align-items: center;
}

.two div:nth-child(1){
    display: flex;
    flex-direction: column;
}


section.three{
    grid-area: three;
    background-color: red;
}

footer{
    grid-area: footer;
    background-color: black;
}
