@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 'nav nav nav nav nav nav'
                        'header header header header header header'
                        'one one one one one one'
                        'two two two two two two'
                        'three three  three  three three three'
                        'footer footer footer footer footer footer';
    grid-template-columns: 16.4vw 16.4vw 16.4vw 16.5vw 16.5vw 16.5vw;
    grid-template-rows: 1.5vh 85vh 45vh 55vh 60vh 20vh;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    grid-area: nav;
    background-color: #2ecb70;
 }

 /* HEADER WITH IMAGES  */
header{
    display: flex;
    grid-area: header;
    align-items: center;
    background-image: url("img/banner.png");
}

header div:nth-child(1){
    width: 50%;
    padding: 90px;
    color: white;
}

header div:nth-child(2){
    display: flex;
    width: 50%;
    padding-top: 52px;

}

.header-icons img{
    background-color: black;
    border: 10px solid black;
    border-radius: 50%;
    margin: 4px;
    opacity: 0.4;
}

.header-icons img:hover{
    background-color: #2CBF60;
    border: 10px solid #2CBF60;
    opacity: 1;
}

/* SECTION ICONES */

section.one{
    grid-area: one;
    display: flex;
    align-items: center;
    text-align: center;
}

.one img{
    background-color: #2ecb70;
    border: 20px solid #2ecb70;
    background-color: #2ecb70;
    border-radius: 50%;
}

/* SECTION VIDEO */

section.two{
    grid-area: two;
    background-color: #e3e3e3;
    display: flex;
    align-items: center;
    padding: 100px;
}

.two input:nth-child(1){
    height: 40px;
    width: 20vw;
    border: none;
    border-radius: 15px;
}
.two input:nth-child(2){
    height: 40px;
    width: 8vw;
    background-color: #2ecb70;
    border: none;
    border-radius: 0px 15px 15px 0px;
}


/* SECTION PERFIL */
section.three{
    grid-area: three;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.three .icons img{
    background-color: gray;
    height: 23px;
    border: 5px solid gray;
    border-radius: 20px;
    margin: 5px;
}

/* FOOTER */

footer{
    display: flex;
    align-items: center;
    text-align: center;
    grid-area: footer;
    background-color: #e3e3e3;
}

.footer-menu{
    width: 100%;
}

.footer-menu a{
    margin: 8px;
    color: gray;
    text-decoration: none;
}

/* COMMON THINGS */

p{
    color: gray;
}
.font-title{
    font-family: 'Baloo Thambi 2', cursive;
}
